.page-header
  = link_to new_tender_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Tender
  %h1 Listing tenders

= paginate all_tenders

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Description
        %th User
        %th
        %th
        %th

    %tbody
      - all_tenders.each do |tender|
        %tr
          %td= tender.title
          %td= tender.description
          %td= tender.user_id
          %td= link_to 'Show', tender
          %td= link_to 'Edit', edit_tender_path(tender)
          %td= link_to 'Destroy', tender, :data => { confirm: 'Are you sure?' }, :method => :delete
